[mysqld]
user=mysql
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake

innodb_buffer_pool_size=1G
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
innodb_log_file_size=256M
innodb_log_buffer_size=8M
innodb_write_io_threads=16
innodb_read_io_threads=16
innodb_thread_concurrency=32
innodb_io_capacity=5000
innodb_io_capacity_max=10000
innodb_lru_scan_depth=256
innodb_page_cleaners=4
innodb_purge_threads=4

[mysql]
default-character-set=utf8mb4